<!DOCTYPE html>
<html>
    <head>
         <title>About</title>
        <link rel="icon" href="/image/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        {{>header}}
        {{>footer}}
    </body>
    
</html>